<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.packathon">

    <application android:theme="@style/AppTheme">
        <activity android:name=".popups.MinPlayersPopup"
            android:theme="@style/AppTheme.MinPlayersPopup" />
        <activity
            android:name=".PauseScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartOfRoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndOfRoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TurnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>